# macOS-specific files
.DS_Store

# environment variables
.env
!.env.example

# jetbrains setting folder
.idea/

# log files
*/**.log

# todo file
TODO.md

# backend
*.pem
*.secret
*.db
*/storage/
*.png
*.jpg
http-client/

# Xcode 
xcuserdata/
*.xcuserstate

**/*.xcodeproj/project.xcworkspace/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata

**/*.xcodeproj/project.xcworkspace/xcshareddata/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/*.playground/playground.xcworkspace/*
!**/*.playground/playground.xcworkspace/xcshareddata

**/*.playground/playground.xcworkspace/xcshareddata/*
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/Assets.xcassets/

**/Config/Config.swift
