# macOS-specific files
.DS_Store

# environment variables
.env
!.env.example

# jetbrains setting folder
.idea/

# log files
*/**.log

# todo file
TODO.md

# backend
*.secret
*.db
*/storage/
*.png
*.jpg
http-client/
